<div class="container">
  <hr>
  <footer class="footer  grid  grid--3">
    <div class="grid__item  grid__item--2">
      <h3>Diesen Blog unterst체tzen:</h3>
      <p>Gef채llt dir dieser Blog oder gefallen dir meine Bilder?<br>Wenn ja, denke doch mal dar체ber nach mich zu Unterst체tzen.</p>      
      <ul class="list">        
        <li class="list__item">Teile Posts mit Anderen</li>
        <li class="list__item">Kommentiere Posts und oder Bilder</li>
        <li class="list__item">Schreibe Feedback und oder einen Gastbeitrag</li>
        <li class="list__item">Kaufe etwas im <a target="_blank" href="/shop.html">Shop</a>.</li>
      </ul>

      <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#00b38d', 'G2G7AM9R');kofiwidget2.draw();</script>
    </div>
    <div class="grid__item  grid__item--1">
      <h3>Gebaut mit hbs-blog</h3>
      <p><a target="_blank" rel="noopener" href="https://www.npmjs.com/package/hbs-blog">hbs-blog</a> is a open source module which uses handlebarsjs, front-matters and gulp to create a static blog. If you want to contribute, check out the <a target="_blank" rel="noopener" href="https://github.com/toh82/hbs-blog">github page of hbs-blog</a>.</p>
    </div>
  </footer>
</div>

<div class="container">
  <p><a class="link  link--arrow" href="impressum-datenschutz.html">Impressum/Datenschutz</a> . <a class="link  link--arrow" href="agb.html">AGB</a> . Layout inspired by <a href="https://hackcss.egoist.moe/" class="link  link--arrow" target="_blank">hackcss</a></p>
</div>

<script src="{{site.url.static}}assets/lib/zepto.min.js"></script>