<div class="container">
  <hr>
  <footer class="footer  grid  grid--3">
    <div class="grid__item  grid__item--1">
      <h3>Supporte mich:</h3>
      <ul class="list">
        <li class="list__item"><a target="_blank" href="https://www.patreon.com/thartmann">patreon</a></li>
        <li class="list__item"><a target="_blank" href="https://flattr.com/profile/toh82">flattr</a></li>
        <li class="list__item"><a target="_blank" href="https://www.paypal.me/toh82/2">paypal</a></li>
        <li class="list__item">Lade mich auf Kaffee oder Bier ein.</li>
        <li class="list__item">Teile meine Posts mit Anderen.</li>
        <li class="list__item">Schreibe mir Feedback.</li>
      </ul>
    </div>
    <div class="grid__item  grid__item--1">
      <h3>Wo sonst noch:</h3>
      <ul class="list">
        <li class="list__item"><a href="https://twitter.com/ToH_82" title="open twitter profile"><i class="fa fa-twitter" aria-hidden="true"></i> ToH_82</a></li>
        <li class="list__item"><a href="https://instagram.com/toh_82" title="open instagram profile"><i class="fa fa-instagram" aria-hidden="true"></i> toh_82</a></li>
        <li class="list__item"><a href="https://www.eyeem.com/u/toh82" title="open EyeEm profile">EyeEm: toh82</a></li>
        <li class="list__item"><a href="https://medium.com/@ToH_82" title="open medium profile"><i class="fa fa-medium" aria-hidden="true"></i> ToH_82</a></li>
        <li class="list__item"><a href="https://pinterest.com/th1982" title="open pinterest profile"><i class="fa fa-pinterest" aria-hidden="true"></i> th1982</a></li>
        <li class="list__item"><a href="https://tellonym.de/u/toh82" title="open tellonym profile">Tellonym: toh82</a></li>
      </ul>
    </div>
    <div class="grid__item  grid__item--1">
      <h3>Gebaut mit hbs-blog</h3>
      <p><a target="_blank" href="https://www.npmjs.com/package/hbs-blog">hbs-blog</a> is a open source module which uses handlebarsjs, front-matters and gulp to create a static blog. If you want to contribute, check out the <a target="_blank" href="https://github.com/toh82/hbs-blog">github page of hbs-blog</a>.</p>
    </div>
  </footer>
</div>

<div class="container">
  <p><a class="link  link--arrow" href="impressum-datenschutz.html">Impressum/Datenschutz</a> . Layout inspired by <a href="https://hackcss.egoist.moe/" class="link  link--arrow" target="_blank">hackcss</a></p>
</div>

<script src="{{site.url.static}}assets/lib/zepto.min.js"></script>
<script src="{{site.url.static}}assets/js/script.js"></script>
