<div class="product">
    <div class="product__image" itemprop="image">
        <img src="{{imagePath}}{{id}}.jpg">
    </div>
    <p><b>Kennung:</b> {{id}}</p>
    {{#if description}}
    <p>{{description}}</p>
    {{/if}}
</div>