<div class="topbar">
  <div class="container">
    <div class="logo">>Code Coffee & Photography</div>
    <nav class="menu  menu--horizontal">
      <a href="/" class="menu-item">» Index</a>
      <a href="https://www.toh82.de" target="_blank" class="menu-item">» Über Tobias Hartmann</a>
    </nav>
  </div>
</div>
