.button {
    display: inline-flex;
    box-align: center;
    box-pack: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    user-select: none;
    position: relative;
    outline: none;
    padding: 0.60rem 1.5rem;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;

    &--primary {
        color: var(--color__primary);
        border-color: var(--color__primary);

        &:hover {
            color: var(--color__base);
            background-color: var(--color__primary);
            border-color: var(--color__primary);
        }
    }
}