
.tag {
    display: inline-block;
    margin: 0;
    padding: 0.4rem 1rem;
    background: #fff;
}

.tags {
    list-style: none;
    margin: 1.5rem -0.5rem 1.5rem -0.5rem;
    padding: 0;
    position: relative;
    display: block;

    &__item {
        list-style: none;
        position: relative;
        display: inline-block;
        margin: 0.5rem;
        padding: 0.4rem 1rem;
        background: #fff;
    }
}
