@import "normalize-css";
@import "_variables.css";

body {
    margin-bottom: 4em;
    color: var(--color__primary);
    background-color: var(--color__base);
    font-family: 'Source Code Pro', sans-serif;
    font-weight: var(--font__weight--regular);
    font-size: calc(0.5rem + 1vw);
    line-height: 1.4;


}

@media (--break-medium) {
    body {
        font-size: 1rem;
    }
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

b,
strong,
h1,
h2,
h3 {
    font-weight: var(--font__weight--bold);
    line-height: 1.2;
}

h1 {
    font-size: calc(2.25rem + 1vw);

    @media (--break-medium) {
        font-size: 2.75rem;
    }
}

h2 {
    font-size: calc(1rem + 1vw);

    @media (--break-medium) {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: calc(0.75rem + 1vw);

    @media (--break-medium) {
        font-size: 1.2rem;
    }
}

h2 a,
h3 a {
    border-bottom: none;
}

small,
.text--small {
    font-size: 0.6rem;

    @media (--break-small) {
        font-size: calc(0.25rem + 1vw);
    }

    @media (--break-medium) {
        font-size: 0.75rem;
    }
}

a {
    color: var(--color__brand);
    border-bottom: 1px solid var(--color__brand);
    text-decoration: none;

    &:hover {
         background-color: var(--color__brand);
         color: var(--color__base);
     }

    &:visited {
         color: var(--color__brand--dark);
         border-bottom-color: var(--color__brand--dark);

        &:hover {
             color: var(--color__base);
             border-bottom-color: var(--color__brand);
        }
    }
}

main {
    margin-top: 2rem;

    @media (--break-small) {
        margin-top: 4rem;
    }
}

main * + *,
footer * + *,
.header__content * + * {
    margin-top: 1rem;

    @media (--break-small) {
        margin-top: 1.5rem;
    }
}

img {
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;

    @media (--break-medium) {
        padding: 0 4rem;
    }

    @media (--break-huge) {
        max-width: 60rem;
    }

    & + .container {
        margin-top: 2rem;

        @media (--break-small) {
            margin-top: 4rem;
        }
    }
}

ul.grid {
    list-style: none;
    padding: 0;
}

.grid {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

    @media (--break-small) {
        grid-column-gap: 4rem;
        grid-row-gap: 4rem;
    }

    &--2 {
        @media (--break-small) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--3 {
        @media (--break-small) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        margin: 0;

        &--1 {
            @media (--break-small) {
                grid-column: auto / span 1
            }
        }
        &--2 {
            @media (--break-small) {
                grid-column: auto / span 2
            }
        }
        &--start-2 {
            @media (--break-small) {
                grid-column-start: 2;
            }
        }
        &--pull-left {
            @media (--break-small) {
                margin-left: -4em;
            }
        }
    }
}

.topbar .grid,
.header .grid {
    grid-row-gap: 0;

    @media (--break-small) {
        grid-column-gap: 1rem;
    }
}

.topbar {
    position: relative;
    margin: 1rem auto;

    @media (--break-small) {
        margin: 2rem auto;
    }

    &__nav {
        .list {
            margin: 0 -0.5rem;
        }

        .list__item {
            margin: 0 0.5rem !important;
        }
    }
}

.link {
    &--arrow:before {
        display: inline-block;
        content: '» ';
        padding-right: 0.5rem;
    }
}

.text {
    &--inline {
        display: inline-block;
    }
    &--brand {
        color: var(--color__brand);
    }
}

.article-head__tags {
    margin: 1.5rem -0.25rem 0 -0.25rem;

    .tag {
        margin: 0 0.25rem;
    }
}

.message {
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    .fa {
        margin-top: 0;
    }

    &--success {
         color: white;
         background: #24ff72;
    }
    &--error {
        color: white;
        background: #ff4553;
    }
    &__close {
        float: right;
         position: relative;
         top: -0.6rem;
         right: 0;
         color: inherit;
         line-height: 1;
    }
}

code {
    background-color: #fff;
    border: 1px solid var(--color__primary--light);
    padding: 0 1rem;
}

pre {
    code {
        display: inline-block !important;
        padding: 2rem;
        overflow: auto;
    }
}

.hide {
    display: none !important;
}

.loading-animation {
    position: fixed;
    display: grid;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;

    &__content {
        align-self: center;
        justify-self: center;
    }

    p {
        font-size: calc(0.75rem + 1vw);
        margin-top: 1rem;

        @media (--break-medium) {
            font-size: 1.2rem;
        }
    }
}

.ccp {
    @import "figure";
    @import "button";
    @import "tags";
    @import "list";

    hr {
        position: relative;
        height: 20px;
        overflow: hidden;
        border: 0;
        margin: 20px 0;
    }

    hr:after {
        content: "----------------------------------------------------------------------------------------------------";
        position: absolute;
        top: 0;
        left: 0;
        line-height: 20px;
        width: 100%;
        word-wrap: break-word;
    }

    .quote {
        border-left: 5px solid var(--color__primary--light);
        margin-left: 0;
        padding: 1.5rem;

        cite {
            display: inline-block;
        }
    }

    .article-meta {
        display: grid;
        align-items: center;
        grid-column-gap: calc(0.5rem + 2.1vw);
        grid-template-columns: calc(3rem + 2.1vw) auto;

        * + * {
            margin: 0;
        }
    }

    .author-image {
        width: 100%;
        margin: 0;
        border-radius: 100%;
    }

    .subline {
        display: block;
        font-size: calc(1rem + 1vw);
        margin-top: 0.5rem;

        @media (--break-medium) {
            font-size: 1.5rem;
        }
    }

    .no-margin {
        margin-top: 0;
    }

    * + .twitter-tweet {
        margin: 1.5rem 0 0 0 !important;
    }

    .hash-filter {
        transition: all 0.3s ease-in-out 0.1s;

        &--no {
            opacity: 0.3;
        }
    }
}

.ccp--home {
    .topbar__logo {
        display: none;
    }
}

.logo {
    margin-bottom: 0.75rem;

    &__image {
        width: 6rem;
    }

    &__text {
        display:none;
        @media (--break-medium) {
            display:block;
        }
    }
}

.ccp--article {
    ul {
        padding: 0;

        li {
            margin-top: 0.6rem;
            position: relative;
            display: block;
            padding-left: 20px;
        }
        li:after {
            content: "-";
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .flattr-box {
        margin-top: 1.5rem;
    }
}
